@use '../../../styles/variables' as *;

.auth-eye-button {
  background: none;
  color: $text-placeholder;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 4px;

  &:hover {
    color: $text-main;
  }
}